<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="30.0.1" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="SixLabors.ImageSharp" version="2.1.4" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
</packages>